@{
    ViewData["Title"] = "Bemvindo";
}

<div class="text-center">
    <h1 class="display-6" style="margin-bottom:40px">Bem vindo ao último sitio que vai precisar para gerir as suas compras</h1>
    <h5 style="margin-bottom:20px">Conecte-se connosco.</h5>
    <button type="button" class="btn btn-success">Entrar</button>
    <button type="button" class="btn btn-success">Registar-se</button>
    <br />
    <hr />

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/imagens/lidl-logo.jpg" class="d-block w-100" alt="Logotipo do Lidl">
            </div>
            <div class="carousel-item">
                <img src="imagens/intermarche-logo.jpg" class="d-block w-100" alt="Logotipo do Intermarché">
            </div>
            <div class="carousel-item">
                <img src="imagens/pingo-doce-logo.jpg" class="d-block w-100" alt="Logotipo do Pingo Doce">
            </div>
            <div class="carousel-item">
                <img src="imagens/continente-logo.jpg" class="d-block w-100" alt="Logotipo do Continente">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container text-center" style="margin-top:20px">
        <div class="row">
            <div class="col">
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Avaliação do cliente</div>
                    <div class="card-body">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p class="mb-0">O melhor site para a gestão de compras que já usei!</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Criador do site em <cite title="Source Title">Pessoa</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Avaliação do cliente</div>
                    <div class="card-body">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p class="mb-0">Sem dúvida o melhor site para a gestão de compras na internet!!</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Criador do site em <cite title="Source Title">Os sonhos que teve ontem</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Avaliação do cliente</div>
                    <div class="card-body">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p class="mb-0">Quase que perdi os sentidos quando encontrei esta maravilha da intranet.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Criador do site em <cite title="Source Title">Pensamentos numa sanita</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>