@{
    ViewData["Title"] = "Sobre nós";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-info">@ViewData["Title"]</h3>
        </div>
    </div>
</div>
@*<h1 align="center">@ViewData["Title"]</h1>*@

<div>
    <p>Estamos dedicados em criar uma ferramenta para si de forma que possa melhor controlar as suas compras e a confirmar quais os custos de cada sessão de compras. Isto porque como já se tem visto nos diversos canais de informação, os valores apresentados em caixa, nem sempre estão certos com os valores apresentados nas prateleiras.</p>
    <p>Numa segunda fase iremos ampliar esta ferramenta de modo a incorporar os valores dos diversos artigos nos supermercados de acordo com os dados introduzidos por si e todos os utilizadores na sua zona e pais.</p>
    <p>Contamos com a sua ajuda para podermos continuar a melhorar a nossa ferramenta e a poder mantê-la livre de custos para si. Para tal, contamos com as suas sugestões para melhoramentos e possíveis alterações.</p>
    <p>Também contamos com o seu contributo e para tal criamos uma conta para doações tendo como valor mínimo 0,01€</p>
    <p>Agradecemos o seu patrocínio e sugestões.</p>
</div>
<div class="text-center">
    <img class="img-fluid" src="~/imagens/thank-you-poster.jpg" alt="imagem de agradecimento" />
</div>